<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap" rel="stylesheet">

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Lato, Sans-serif;
    font-weight: 300;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/*headings and logo*/
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: titlecase;
    letter-spacing: 2px;
    color: lightslategray;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
    /* float: left; */
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;

    display: flex;
    flex-direction: row;
}

#menu, #logo{
    line-height: 75px;
}

#menu a:hover{
    border-bottom: 1px solid lightslategray;
}

#menu li {
    /* float: right; */
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid lightslategray;
}

/* hero pic */

#hero-pic {
    height: 450px;
    width: 100%;
    background: url('../images/hero-pic.jpg') no-repeat center center;
}

/* mindful running */

#mindful-running {
    height: 450px;
}

#left-about {
    padding-top: 30px;
    width: 48%;
    float: left
}

#right-about {
    padding-top: 30px;
    width: 48%;
    float: right;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
}
#message {
    text-align: center;
}

/* what is mindful running */

#left-side {
  padding-top: 30px;
  width: 45%;
  float: left
}

#right-side {
  padding-top: 30px;
  width: 45%;
  float: right;
}

.left-side-heading {
  width: 65%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-side-heading {
  width: 65%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

/* footer */

footer {
  height: 200px;
  background: #444444;
  margin-top: 300px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 5%;
    padding: 5%;
    color: white;
}

/* sign up form */

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: lightsteelblue;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: lightslategray;
  outline: none;
}

hr {
  border: 1px solid #444444;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #444444;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: red;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
#mindful-running{
      width: 65%;
      height: 1200px;
      margin: 0 auto;
  }

#welcome, #message {
    padding: 30px 0;
    margin-top: 0;
}

#left-about, #right-about {
    width:100%;
    float:left;
    padding: 0;
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

#menu{
    clear: left;
    float: left;
    margin-left: 30px; 
    margin-bottom: 20px;
    line-height: 25px;
  }

  #mindful-running{
    width:90%;
    height: 1200px;
    margin: 0 auto;
}

.left-about-heading, .right-about-heading{
    width: inherit;
}

.left-about-heading h2, .right-about-heading h2{
  width: 100%;
  text-align: center;
}

.left-about-heading p, .right-about-heading p{
  text-align: center;
  padding: 0 20px 0 20px;
}

