@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

html{
  overflow-x: hidden;
}

body{
    font-family: Lato, Sans-serif;
    font-weight: 300;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* headings */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: none;
    letter-spacing: 1px;
    color: lightslategray;
}

h3, h4 {
  font-family: Lato, sans-serif;
  text-transform: none;
  letter-spacing: 1px;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;

    display: flex;
    flex-direction: row;
}

#logo {
  width:179px;
  height:140px;
}
/*
#menu, #logo{
    line-height: 75px;
}
*/
#menu a:hover{
    border-bottom: 1px solid lightslategray;
}

#menu li {
    /* float: right; */
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid lightslategray;
}

/* hero pic */

#hero-pic {
    width: 100%;
}
#about-img{
  width:100%
}

/* mindful running */

#mindful-running {
    height: auto;
    margin-bottom: 40px;
}

#left-about {
    padding-top: 30px;
    width: 45%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 45%;
    float: right;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
}
#message {
    text-align: center;
    margin-bottom: 20px;
}

#mindfulness-img {
  width:100%;
  padding-top: 10px; 
  padding-bottom: 10px;
}

#mindful-run-img {
  width:100%; 
  padding-top: 10px; 
  padding-bottom: 10px;
}

/* what is mindful running */

#left-side {
  padding-top: 30px;
  width: 45%;
  float: left
}

#right-side {
  padding-top: 30px;
  width: 45%;
  float: right;
}

.left-side-heading {
  padding-top: 30px;
  width: 65%;
  float: right;
  line-height: 30px;
  clear: both;
  margin-bottom: 50px;
}

.right-side-heading {
  padding-top: 30px;
  width: 65%;
  float: left;
  line-height: 30px;
  clear: both;
  margin-bottom: 50px;
}

/* footer */

footer {
  margin-top: auto;
  background: #444444;
}

#contact {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
}

#address {
  text-align: center;
  color: white;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 150%;
    margin: 5%;
    padding: 5%;
    color: white;
}

/* sign up form */

* {
  box-sizing: border-box
}

  input[type=text] {
  width: 60%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgb(173, 171, 171);
}

hr {
  border: 0.5px solid lightslategrey;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Set a style for all buttons */
button {
  background-color: lightslategrey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 60%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
#mindful-running{
      width: 65%;
      height: 1200px;
      margin: 0 auto;
  }

#welcome, #message {
    padding: 5px 0;
    margin-top: 0;
}

#left-about, #right-about {
    width:100%;
    float:left;
    padding: 0;
}

#mindfulness-img, #mindful-run-img {
    width:100%;
    float:left;
    padding: 10px;
}

#what-is-mindful-running{
  width: 65%;
  height: 1200px;
  margin: 0 auto;
}

#left-side, #right-side {
  width:100%;
  float:left;
  padding: 0;
}
}
/* For medium screens */
@media screen and (max-width: 950px){

#menu {
    clear: left;
    float: left;
    margin-left: 30px; 
    margin-bottom: 20px;
    line-height: 25px;
  }

#mindful-running{
  width:90%;
  height: 1200px;
  margin-bottom: 40px;
}

.left-about-heading, .right-about-heading{
    width: inherit;
}

.left-about-heading h2, .right-about-heading h2{
  width: 100%;
  text-align: center;
}

.left-about-heading p, .right-about-heading p{
  text-align: center;
  padding: 0 20px 0 20px;
}

#what-is-mindful-running{
  width:90%;
  height: 1200px;
  margin: 0 auto;
}

.left-side-heading, .right-side-heading{
    width: inherit;
}

.left-side-heading h2, .right-side-heading h2{
  width: 100%;
  text-align: center;
}

.left-side-heading p, .right-side-heading p{
  text-align: center;
  padding: 0 20px 0 20px;
}
}

/* For mobile phones: */
@media only screen and (min-width: 320px) and (max-width: 480px){ 
  
  #hero-pic {
  width: 100%;
  }

  #about-img {
    width: 100%;
  }
  header {
    display: block !important;
    position: relative;
    width: 100%;
  }

  header a img {
    display: block;
    width: 40% !important;
    margin-left: 30%;
    height: 150px !important;
  }

  header nav {
    width: 100%;
    margin: 0px !important;
    display: block;
  }

  #menu {
    font-size: larger;
    letter-spacing: 4px;
    display: block !important;
    width: 100%;
    position: relative;
  }
  #menu li {
    width: 30%;
    margin-left: 3.3%;
    list-style-type: none;
    display: inline;
  }
}
