<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap" rel="stylesheet">

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Lato, Sans-serif;
    font-weight: 300;
    font-color: #444444;
}

/*headings and logo*/
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: titlecase;
    letter-spacing: 4px;
    color: lightslategray;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo{
    line-height: 75px;
}

#menu a:hover{
    border-bottom: 1px solid lightslategray;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid lightslategray;
}

/* hero pic */

#hero-pic {
    height: 450px;
    width: 100%;
    background: url('../images/hero-pic.jpg') no-repeat center center;
}

/* mindful running */

#mindful-running {
    height: 450px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
}