<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap" rel="stylesheet">

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Lato, Sans-serif;
    font-weight: 300;
    font-color: #444444;
}

/*headings and logo*/
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: titlecase;
    letter-spacing: 4px;
    color: lightslategray;
}

#logo {
    float: left;
    font-size: 280%;
}